/*Working with extending through classes*/
$green: #00FF00;
$red: #FF0000;

.info {
    font-size:12px;
}

.success {
    @extend .info;
    color: $green;
}

.warning {
    @extend .info;
    color: $red;
}
